*{
    background-color: #1e1f21;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #980000;
    padding: .5px;
  }
  .grid-item {
    background-color: rgb(233, 233, 233);
    border: 5px solid rgba(0, 0, 0,1);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

#Terminator{
    border-radius: 40%;
    border: 5px solid red;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#suited{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    color: red;
    font-size: 50px;
    font-family: sans-serif;
}

h2{
    text-align: center;
    color: red;
    font-family: sans-serif;
}

a:link{
    font-size: 15px;
    color: rgb(62, 95, 245)
}

a:hover{
    font-size: 15px;
    color: rgb(188, 255, 212)
}

a:active{
    font-size: 15px;
    color: rgb(255, 255, 255)
}

a:visited{
    font-size: 15px;
    color: rgb(251, 69, 220)
}

ol{
    color:aquamarine;
}
ul{
    color: aquamarine;
}
p{
    color: grey;
}