*{
    background-color: #1e1f21;}
#Terminator{
    border-radius: 40%;
    border: 5px solid red;
}
h1,h2{
    color: red
}
a{
    font-size: 15px
}
ol{
    color:aquamarine
}
ul{
    color: aquamarine;
}